<!-- <div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Hello Card" blockClass="pc-component">
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
        in culpa qui officia deserunt mollit anim id est laborum."
      </p>
    </app-card>
  </div>
</div> -->
<!-- <p>{{ currentDate | date }}</p> -->
<div class="page-header">
  <div class="page-block">
    <div class="row align-items-center">
      <div class="col-md-12">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
              <a [routerLink]="['/dashboard/default/']" class="home">Home</a>
          </li>
          <li class="breadcrumb-item">
              <a class="f-14 f-w-600">Book Train</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12">
        <div class="page-header-title">
              <h2 class="mb-0 f-w-600 mt-2">Book Train</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-9">
      <div class="card my-5">
        <div class="card-body">
          <!-- <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Sign up</b></h3>
            <a [routerLink]="['/login']" class="link-primary">Already have an account?</a>
          </div> -->
          @if(successMessage){
            <div class="alert alert-success alert-success-sm mt-3">
              {{ successMessage }}
            </div>
          }
          @if(errorMessage){
            <div class="alert alert-danger alert-danger-sm mt-3">
              {{ errorMessage }}
            </div>
          }
          @if(validationMessage){
            <div class="alert alert-danger alert-danger-sm mt-3">
              {{ validationMessage }}
            </div>
          }
          <!-- <div class="row">
            <div class="col-md-12 text-center">
              <img class="img-fluid rounded-circle" src="assets/images/user/avatar-2.jpg" />
            </div>
           </div>  -->
          <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
            <div class="form-group mb-0">
              <h3>{{trainName}}</h3>
            </div>
            <div class="form-group mb-6">
              <h5>{{sourceStation+"-"+destinationStation}} | {{date | date}}</h5>
            </div> 
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="selectClass">Seat Class</label>
                  <select [(ngModel)]="seatClass" class="form-control" id="seatClass" name="seatClass" placeholder="Select Seat Class" required #seatClassInput="ngModel" >
                    <option value="" selected disabled>Select Seat Class</option>
                    <option value="A/C">A/C</option>
                    <option value="Non-A/C">Non-A/C</option>  
                  </select>
                  @if(seatClassInput.invalid && (seatClassInput.dirty || seatClassInput.touched)){
                    <div class="text-danger">Seat Class is required.</div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="selectClass">Seat Quota</label>
                  <select [(ngModel)]="quota" class="form-control" id="quota" name="quota" placeholder="Select Seat Quota" required #quotaInput="ngModel" >
                    <option value="" selected disabled>Select Seat Quota</option>
                    <option value="General Quota">General Quota</option>
                    <option value="Ladies Quota">Ladies Quota</option>  
                  </select>
                  @if(quotaInput.invalid && (quotaInput.dirty || quotaInput.touched)){
                    <div class="text-danger">Quota is required.</div>
                  }
                </div>
              </div>
            </div> 
            
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="firstName">First Name*</label>
                  <input [(ngModel)]="firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required #firstNameInput="ngModel" />
                  @if(firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)){
                    <div class="text-danger">First Name is required.</div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="lastName">Last Name*</label>
                  <input [(ngModel)]="lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required #lastNameInput="ngModel" />
                  @if(lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)){
                    <div class="text-danger">Last Name is required.</div>
                  }
                </div>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="userName">Source Station</label>
                  <input [(ngModel)]="trainName" type="text" class="form-control" id="trainName" name="trainName" placeholder="Train Name" required #trainNameInput="ngModel" />
                  @if(trainNameInput.invalid && (trainNameInput.dirty || trainNameInput.touched)){
                    <div class="text-danger">Train Name is required.</div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="userName">Destination Station</label>
                  <input [(ngModel)]="trainNumber" type="text" class="form-control" id="trainNumber" name="trainNumber" placeholder="Train Number" required #trainNumberInput="ngModel" />
                  @if(trainNumberInput.invalid && (trainNumberInput.dirty || trainNumberInput.touched)){
                    <div class="text-danger">Train Number is required.</div>
                  }
                </div>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="sourceStation">Source Station</label>
                  <select [(ngModel)]="sourceStation" class="form-control" id="sourceStation" name="sourceStation" required #sourceStationInput="ngModel">
                    <option value="" disabled selected>Select Train Route</option>
                    @if(stationOptions){
                      @for(station of stationOptions; track station ){
                        <option [value]="station.id">{{station.name}}</option>
                      }
                    }
                  </select>
                  @if(sourceStationInput.invalid && (sourceStationInput.dirty || sourceStationInput.touched)){
                    <div class="text-danger">Train Station is required.</div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="sourceStation">Destination Station</label>
                  <select [(ngModel)]="sourceStation" class="form-control" id="sourceStation" name="sourceStation" required  #sourceStationInput="ngModel">
                    <option value="" disabled selected>Select Train Route</option>
                    @if(stationOptions){
                      @for(station of stationOptions; track station ){
                        <option [value]="station.id">{{station.name}}</option>
                      }
                    }
                  </select>
                  @if(sourceStationInput.invalid && (sourceStationInput.dirty || sourceStationInput.touched)){
                    <div class="text-danger">Train Station is required.</div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="userName">Total Seats</label>
                  <input [(ngModel)]="totalSeats" type="text" class="form-control" id="totalSeats" name="totalSeats" placeholder="Total Seats" required #totalSeatsInput="ngModel" />
                  @if(totalSeatsInput.invalid && (totalSeatsInput.dirty || totalSeatsInput.touched)){
                    <div class="text-danger">Total Seats is required.</div>
                  }
                </div>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-md-4">
                <div class="form-group mb-3">
                  <label class="form-label" for="userName">Date</label>
                  <input [(ngModel)]="date" type="date" [min]="currentDate | date:'yyyy-MM-dd'" class="form-control" id="date" name="date" placeholder="date" required #dateInput="ngModel" />
                  @if(dateInput.invalid && (dateInput.dirty || dateInput.touched)){
                    <div class="text-danger">Date is required.</div>
                  }
                </div>
              </div>
                <div class="col-md-4">
                  <div class="form-group mb-3">
                    <label class="form-label" for="userName">Departure time</label>
                    <input [(ngModel)]="departureTime" type="time"  class="form-control" id="departureTime" name="departureTime" placeholder="departureTime" required #departureTimeInput="ngModel" />
                    @if(departureTimeInput.invalid && (departureTimeInput.dirty || departureTimeInput.touched)){
                      <div class="text-danger">Departure Time is required.</div>
                    }
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group mb-3">
                    <label class="form-label" for="userName">Arrival time</label>
                    <input [(ngModel)]="arrivalTime" type="time"  class="form-control" id="arrivalTime" name="arrivalTime" placeholder="arrivalTime" required #arrivalTimeInput="ngModel" />
                    @if(arrivalTimeInput.invalid && (arrivalTimeInput.dirty || arrivalTimeInput.touched)){
                      <div class="text-danger">Arrival Time is required.</div>
                    }
                  </div>
                </div>
              </div> -->
              <div class="form-group mb-3">
                <label class="form-label" for="numberOfPassengers">Number of Passengers</label>
                <input class="form-control" type="number" id="numberOfPassengers" [(ngModel)]="numberOfPassengers" name="numberOfPassengers" (change)="updatePassengerCount()" min="1" required />
              </div>

              <div class="row">
            
                @for (passenger of passengers; track passenger;let index = $index) {
                    <h6 class="mt-3">Passenger {{ index + 1 }}</h6>
                    <div class="col-md-4">
                      <label class="form-label" for="name{{ index }}">Name</label>
                      <input class="form-control" type="text" id="name{{ index }}" placeholder="Passenger Name" [(ngModel)]="passenger.name" name="name{{ index }}" required #passengerNameInput="ngModel" />
                      @if(passengerNameInput.invalid && (passengerNameInput.dirty || passengerNameInput.touched)){
                        <div class="text-danger">Passenger name is required.</div>
                      }
                    </div>
                    <div class="col-md-4">
                      <label class="form-label" for="age{{ index }}">Age</label>
                      <input class="form-control" type="number" id="age{{ index }}" placeholder="Passenger Age" [(ngModel)]="passenger.age" name="age{{ index }}" required min="1" #passengerAgeInput="ngModel" />
                      @if(passengerAgeInput.invalid && (passengerAgeInput.dirty || passengerAgeInput.touched)){
                        <div class="text-danger">Passenger Age is required.</div>
                      }
                    </div>
                    <div class="col-md-4">
                      <label class="form-label" for="gender{{ index }}">Gender</label>
                      <select class="form-control" id="gender{{ index }}" placeholder="Passenger Gender" [(ngModel)]="passenger.gender" name="gender{{ index }}" required #passengerGenderInput="ngModel" >
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <!-- <option value="other">Other</option> -->
                      </select>
                      @if(passengerGenderInput.invalid && (passengerGenderInput.dirty || passengerGenderInput.touched)){
                        <div class="text-danger">Gender is required.</div>
                      }
                    </div>
                }
                  <!-- <div *ngFor="let passenger of passengers; let i = index">
                    <h4>Passenger {{ i + 1 }}</h4>
                    <label for="name{{ i }}">Name:</label>
                    <input type="text" id="name{{ i }}" [(ngModel)]="passenger.name" name="name{{ i }}" required />
                
                    <label for="age{{ i }}">Age:</label>
                    <input type="number" id="age{{ i }}" [(ngModel)]="passenger.age" name="age{{ i }}" required min="0" />
                
                    <label for="gender{{ i }}">Gender:</label>
                    <select id="gender{{ i }}" [(ngModel)]="passenger.gender" name="gender{{ i }}" required>
                      <option value="" selected disabled>Select Gender</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                  </div> -->
              </div>
            <!-- <div class="form-group mb-3">
              <label class="form-label" for="userName">Username</label>
              <input [(ngModel)]="userName" type="text" class="form-control" id="userName" name="userName" placeholder="Username" required #userNameInput="ngModel" />
              @if(userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)){
                <div class="text-danger">Username is required.</div>
              }
            </div> -->
            <!-- <div class="form-group mb-3">
              <label class="form-label" for="emailAddress">Email Address*</label>
              <input type="email" class="form-control" id="emailAddress" placeholder="Email Address" />
            </div> -->
            <!-- <div class="form-group mb-3">
              <label class="form-label" for="password">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" placeholder="Password" required #passwordInput="ngModel" />
              @if(passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)){
                <div class="text-danger">Password is required.</div>
              }
            </div> -->
            <!-- <input [(ngModel)]="userType" type="text" class="form-control" id="userType" name="userType" placeholder="User Type" value="1" hidden #userTypeInput="ngModel" /> -->
            <!-- <div class="form-group mb-3">
              <label class="form-label" for="selectClass">Class</label>
              <select class="form-control" id="selectClass" placeholder="Select Class" >
                <option value="A/C">A/C</option>
                <option value="Non-A/C">Non-A/C</option>  
              </select>
            </div> -->
            <!-- <div class="form-group mb-3">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:8761';">Left</button>
                <button type="button" class="btn btn-danger">Middle</button>
                <button type="button" class="btn btn-warning">Right</button>
              </div>
            </div> -->
            <!-- <p class="mt-4 text-sm text-muted">
              By Signing up, you agree to our
              <a href="javascript:" class="text-primary">Terms of Service</a>
              and
              <a href="javascript:" class="text-primary">Privacy Policy</a>
            </p> -->
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Book Ticket</button>
            </div>
            <!--<div class="saprator mt-3">
              <span>Sign up with</span>
            </div>
            <div class="row">
              @for (item of SignUpOptions; track item) {
                <div class="col-4">
                  <div class="d-grid">
                    <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                      <img src="{{ item.image }}" alt="google img" />
                      <span class="d-none d-sm-inline-block">{{ item.name }}</span>
                    </button>
                  </div>
                </div>
              }
            </div> -->
          </form>
        </div>
      </div>
      
  </div>
  <!-- @if(endpoint){
    <div class="col-sm-12">
      <app-train-details [endpoint]="endpoint" /> -->
      <!-- <app-train-details [endpoint]="'http://localhost:8083/trains'" /> -->
    <!-- </div>
  } -->
    
</div>
