<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <!-- <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo img" /></a> -->
        <!-- <a [routerLink]="['']"><h2>TrainEase</h2></a> -->
        <a [routerLink]="['']" class="logo d-flex align-items-center me-auto">
          <img src="assets/img/fast-train-logo-white.png" alt="theme-logo" width="180px" />
      </a>
      </div>
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Sign up</b></h3>
            <a [routerLink]="['/login']" class="link-primary">Already have an account?</a>
          </div>
          @if(successMessage){
            <div class="alert alert-success alert-success-sm mt-3">
              {{ successMessage }}
            </div>
          }
          @if(errorMessage){
            <div class="alert alert-danger alert-danger-sm mt-3">
              {{ successMessage }}
            </div>
          }
          <!-- <div class="row">
            <div class="col-md-12 text-center">
              <img class="img-fluid rounded-circle" src="assets/images/user/avatar-2.jpg" />
            </div>
           </div>  -->
          <form (ngSubmit)="onSubmit()" #registerForm="ngForm">  
            <div class="row">
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="firstName">First Name*</label>
                  <input [(ngModel)]="firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required #firstNameInput="ngModel" />
                  @if(firstNameInput.invalid && (firstNameInput.dirty || firstNameInput.touched)){
                    <div class="text-danger">First Name is required.</div>
                  }
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group mb-3">
                  <label class="form-label" for="lastName">Last Name*</label>
                  <input [(ngModel)]="lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required #lastNameInput="ngModel" />
                  @if(lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)){
                    <div class="text-danger">Last Name is required.</div>
                  }
                </div>
              </div>
            </div>
            <div class="form-group mb-3">
              <label class="form-label" for="userName">Username</label>
              <input [(ngModel)]="userName" type="text" class="form-control" id="userName" name="userName" placeholder="Username" required #userNameInput="ngModel" />
              @if(userNameInput.invalid && (userNameInput.dirty || userNameInput.touched)){
                <div class="text-danger">Username is required.</div>
              }
            </div>
            <!-- <div class="form-group mb-3">
              <label class="form-label" for="emailAddress">Email Address*</label>
              <input type="email" class="form-control" id="emailAddress" placeholder="Email Address" />
            </div> -->
            <div class="form-group mb-3">
              <label class="form-label" for="password">Password</label>
              <input [(ngModel)]="password" type="password" class="form-control" id="password" name="password" placeholder="Password" required #passwordInput="ngModel" (input)="checkPasswords()" />
              @if(passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)){
                <div class="text-danger">Password is required.</div>
              }
            </div>

            <div class="form-group mb-3">
              <label class="form-label" for="password">Re-enter Password</label>
              <input [(ngModel)]="repeatPassword" type="password" class="form-control" id="repeatPassword" name="repeatPassword" placeholder="Re-enter Password" required #repeatPasswordInput="ngModel" (input)="checkPasswords()" />
              @if(repeatPasswordInput.invalid && (repeatPasswordInput.dirty || repeatPasswordInput.touched)){
                <div class="text-danger">Re-enter Password is required.</div>
              }
            </div>
            @if(passwordMismatch)
            {
              <div class="form-group mb-3">
                  <div class="text-danger">Passwords do not match</div>
              </div>
            }
            @else if(!passwordMismatch && password && repeatPassword)
            {
              <div class="form-group mb-3">
                <div class="text-success">Passwords match</div>
            </div>
            }
            <!-- <input [(ngModel)]="userType" type="text" class="form-control" id="userType" name="userType" placeholder="User Type" value="1" hidden #userTypeInput="ngModel" /> -->
            <!-- <div class="form-group mb-3">
              <label class="form-label" for="selectClass">Class</label>
              <select class="form-control" id="selectClass" placeholder="Select Class" >
                <option value="A/C">A/C</option>
                <option value="Non-A/C">Non-A/C</option>  
              </select>
            </div> -->
            <!-- <div class="form-group mb-3">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" onclick="window.location.href='http://localhost:8761';">Left</button>
                <button type="button" class="btn btn-danger">Middle</button>
                <button type="button" class="btn btn-warning">Right</button>
              </div>
            </div> -->
            <!-- <p class="mt-4 text-sm text-muted">
              By Signing up, you agree to our
              <a href="javascript:" class="text-primary">Terms of Service</a>
              and
              <a href="javascript:" class="text-primary">Privacy Policy</a>
            </p> -->
            <div class="d-grid mt-3">
              <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Create Account</button>
            </div>
            <!--<div class="saprator mt-3">
              <span>Sign up with</span>
            </div>
            <div class="row">
              @for (item of SignUpOptions; track item) {
                <div class="col-4">
                  <div class="d-grid">
                    <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
                      <img src="{{ item.image }}" alt="google img" />
                      <span class="d-none d-sm-inline-block">{{ item.name }}</span>
                    </button>
                  </div>
                </div>
              }
            </div> -->
          </form>
        </div>
      </div>
      <div class="auth-footer row">
        <!-- <div class=""> -->
        <div class="col my-1">
          <p class="m-0 text-white">
            Copyright ©
            <a class="text-white" href="https://#" target="_blank">Online Railway Ticket Booking Portal</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item text-white" >Made with &#9829; in India</li>
          </ul>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
